
  * {
    box-sizing: border-box;
  }

  h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-family: hevetica;
  }

  p {
    text-align: justify;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  section{
    border: 5px solid white ;
    padding: 5px;
    margin: 10px;
  }

  .row {
    width: 100%;
  }
  .box {
    border: solid black;
    position: relative;
    margin: 15px;
    background-color: grey; 
  }
  .label {
    position: absolute;
    font-weight: bold;
    text-align: center;
    height: 30px;
    width: 100px;
    top: 0;
    right: 0;
    border: solid black;
    border-top: 0;
    border-right: 0;
    padding: 5px;
    
  }
  .tomato-color {
    background-color: #ff6347;
  }
  .sea-green-color {
    background-color: #3cb371;
  }
  .dodger-blue-color {
    background-color: #1e90ff;
  }
  /********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 30.3%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 46%;
  }
  .col-md-12 {
    width: 96%;
  }
}
